node_modules
**/node_modules/**
.agents/**
target
**/target/**
**/target*/**
dist
**/dist/**
build
**/build/**
.next
**/.next/**
gen
**/gen/**
src/lib/bindings.ts
pnpm-lock.yaml
bun.lockb
bun.lock
package-lock.json
Cargo.lock
